### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule strona_glowna index.html
RewriteRule o_mnie kimjestem.html
RewriteRule oferta oferta.html
RewriteRule cv cv.html
RewriteRule kontakt kontakt.html
ErrorDocument 404 /index.html
